<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="ScriptCombiner">
			<section name="Files" type="System.Configuration.NameValueSectionHandler" />
			<section name="Sets" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Integrated Security=false;User ID=ecolabdb1;Password=Alliance123$;Initial Catalog=Trasar3DevPhase2;Data Source=HYD-ECOLABDB1\ECOLAB;pooling=true;Min Pool Size=5;Connection Lifetime=0;Connect Timeout=600;" providerName="System.Data.SqlClient" />
		<add name="MyServiceConnection" connectionString="Integrated Security=false;User ID=SVC_SSRS_Conduit;Password=N$jay10!;Initial Catalog=Myservice;Data Source=Useagan1608s;pooling=true;Min Pool Size=5;Connection Lifetime=0;Connect Timeout=600;" providerName="System.Data.SqlClient" />
		<!--Added-->
		<add name="elmah-express" connectionString="Integrated Security=false;User ID=AllianceGlobal;Password=AllianceGlobal1;Initial Catalog=TRASAR3Beta;Data Source=USNAP3DDB30;pooling=true;Min Pool Size=5;Connection Lifetime=0;Connect Timeout=60;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="OpcItemFormat" value="[{0}].{1}" />
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="errortracking" />
		<add key="SystemUserId" value="0" />
		<add key="ComPort" value="801" />
		<add key="SaveInEnvision" value="true" />
		<add key="CsvGenerationPath" value="D:\MigrationData\" />
		<add key="ModelsToExclude" value="5,7" />
		<add key="MaxNoOfRecordsPerPage" value="50" />
		<add key="SyncLapseTime" value="360" />
		<add key="SecurityKey" value="ConduitMD5" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<httpHandlers>
			<add path="*.ashx" verb="*" type="Ecolab.TCDConfigurator.Web.ConfiguratorHandler" />
		</httpHandlers>
		<compilation debug="false" targetFramework="4.5" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<!--<add namespace="System.Web.Optimization" />-->
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="agsmailer@allianceglobalservices.com">
				<network host="smtp.office365.com" enableSsl="true" port="587" userName="agsmailer@allianceglobalservices.com" password="" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
			<!--Added to fix GET request issue in client server deployment-->
			<!--Added to fix GET request issue in client server deployment-->
			<remove name="PerRequestLifestyle" />
			<remove name="ErrorLog" />
			<remove name="ErrorMail" />
			<remove name="ErrorFilter" />
			<add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>
		<handlers>
			<add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.5" />
			<add name="ConfiguratorHandler" path="*.ashx" verb="*" type="Ecolab.TCDConfigurator.Web.ConfiguratorHandler" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<staticContent>
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
		<directoryBrowse enabled="true" />
	</system.webServer>
	<ScriptCombiner>
		<Files>
			<!--css-->
			<add key="jquery.ui.core" value="~/Content/themes/base/jquery.ui.core.css" />
			<add key="jquery.ui.resizable" value="~/Content/themes/base/jquery.ui.resizable.css" />
			<add key="jquery.ui.selectable" value="~/Content/themes/base/jquery.ui.selectable.css" />
			<add key="jquery.ui.accordion" value="~/Content/themes/base/jquery.ui.accordion.css" />
			<add key="jquery.ui.autocomplete" value="~/Content/themes/base/jquery.ui.autocomplete.css" />
			<add key="query.ui.button" value="~/Content/themes/base/jquery.ui.button.css" />
			<add key="jquery.ui.dialog" value="~/Content/themes/base/jquery.ui.dialog.css" />
			<add key="jquery.ui.slider" value="~/Content/themes/base/jquery.ui.slider.css" />
			<add key="jquery.ui.tabs" value="~/Content/themes/base/jquery.ui.tabs.css" />
			<add key="jquery.ui.datepicker" value="~/Content/themes/base/jquery.ui.datepicker.css" />
			<add key="jquery.ui.progressbar" value="~/Content/themes/base/jquery.ui.progressbar.css" />
			<add key="jquery.ui.theme" value="~/Content/themes/base/jquery.ui.theme.css" />
			<!--Kendu css-->
			<add key="kendo.common" value="~/Content/kendoUI/kendo.common.css" />
			<add key="kendo.default" value="~/Content/kendoUI/kendo.default.css" />
			<add key="kendo.bootstrapcss" value="~/Content/kendoUI/kendo.bootstrap.css" />
			<add key="kendo.dataviz.bootstrap" value="~/Content/kendoUI/kendo.dataviz.bootstrap.css" />
			<add key="kendo.mobileall" value="~/Content/kendoUI/kendo.mobileall.css" />
			<!-- Bootstrap css-->
			<add key="bootstrapcss" value="~/Content/bootstrap.css" />
			<add key="bootstrap-timepickercss" value="~/Content/bootstrap-timepicker.css" />
			<add key="slidercss" value="~/Content/slider.css" />
			<add key="customcss" value="~/Content/custom.css" />
			<add key="custommediaqueriescss" value="~/Content/custom-mediaqueries.css" />
			<add key="ModalPopup" value="~/Content/ModalPopup.css" />
			<add key="bootstrap-multiselectcss" value="~/Content/bootstrap-multiselect.css" />
			<!--Visualization-->
			<add key="visualizationcss" value="~/Content/visualization.css" />
			<!--Kendu js-->
			<add key="kendo.all" value="~/Scripts/KendoUI/kendo.all.js" />
			<!--common js-->
			<add key="NameSpaces" value="~/Scripts/UI/CommonScripts/NameSpaces.js" />
			<add key="modernizr" value="~/Scripts/Utils/modernizr-*" />
			<add key="jquery" value="~/Scripts/JQuery/jquery-{version}.js" />
			<add key="jqueryextensions" value="~/Scripts/JQuery/jquery.extensions.js" />
			<add key="bootstrap" value="~/Scripts/Bootstrap/bootstrap.js" />
			<add key="bootstrap-timepicker" value="~/Scripts/Bootstrap/bootstrap-timepicker.js" />
			<add key="bootstrap-multiselect" value="~/Scripts/Bootstrap/bootstrap-multiselect.js" />
			<add key="bootstrap-tooltip" value="~/Scripts/Bootstrap/jquery-validate.bootstrap-tooltip.js" />
			<add key="jquery-tablesorter" value="~/Scripts/JQuery/jquery.tablesorter.js" />
			<add key="multiselect-swap" value="~/Scripts/JQuery/multiselect-swap.js" />
			<add key="mask" value="~/Scripts/JQuery/Plugins/MaskPlugin/jquery.mask.js" />
			<add key="jquery-ui" value="~/Scripts/JQuery/jquery-ui-{version}.js" />
			<add key="jqueryrest" value="~/Scripts/JQuery/jqueryrest.js" />
			<add key="Json2" value="~/Scripts/JQuery/json2.js" />
			<add key="date" value="~/Scripts/Utils/date.js" />
			<add key="jquery.validate" value="~/Scripts/JQuery/jquery.validate.js" />
			<add key="jquery.blockUI" value="~/Scripts/JQuery/Plugins/blockUI/jquery.blockUI.js" />
			<add key="jquery.unobtrusive-ajax" value="~/Scripts/JQuery/jquery.unobtrusive-ajax.js" />
			<add key="trimpathTemplate" value="~/Scripts/TemplateManager/trimpathTemplate.js" />
			<add key="templateManager" value="~/Scripts/TemplateManager/templateManager.js" />
			<add key="confirmDialog" value="~/Scripts/JQuery/Plugins/ConfirmDialog/confirmDialog.js" />
			<add key="Utils" value="~/Scripts/UI/CommonScripts/Utils.js" />
			<add key="BaseModel" value="~/Scripts/UI/Model/BaseModel.js" />
			<add key="ModelCommon" value="~/Scripts/UI/Model/ModelCommon.js" />
			<add key="BasePresenter" value="~/Scripts/UI/Pages/BasePresenter.js" />
			<add key="Factory" value="~/Scripts/UI/CommonScripts/Factory.js" />
			<add key="MainHeader" value="~/Scripts/UI/Views/MainHeader/MainHeader.js" />
			<add key="MainHeaderpage" value="~/Scripts/UI/Pages/MainHeaderPage/MainHeaderPage.js" />
			<add key="Localization" value="~/Scripts/JQuery/Plugins/Localization/jquery.localize.js" />
			<add key="mask" value="~/Scripts/JQuery/Plugins/MaskPlugin/jquery.mask.js" />
			<!--BreadCrumb-->
			<add key="BreadCrumb" value="~/Scripts/UI/Views/BreadCrumb/BreadCrumb.js" />
			<!--PlantSetup-->
			<add key="PlantSetupPage" value="~/Scripts/UI/Pages/PlantSetupPage/PlantSetupPage.js" />
			<add key="PlantSetupModel" value="~/Scripts/UI/Model/PlantSetup/PlantSetupModel.js" />
			<add key="PlantSetupModelProxy" value="~/Scripts/UI/Model/PlantSetup/PlantSetupModelProxy.js" />
			<add key="PlantSetup" value="~/Scripts/UI/Views/PlantSetup/PlantSetup.js" />
			<add key="PlantSetupTabs" value="~/Scripts/UI/Views/PlantSetup/PlantSetupTabs.js" />
			<add key="NewCustomer" value="~/Scripts/UI/Views/Customer/NewCustomer.js" />
			<!--ControllerSetup-->
			<add key="ControllerSetupPage" value="~/Scripts/UI/Pages/ControllerSetupPage/ControllerSetupPage.js" />
			<add key="ControllerSetupModel" value="~/Scripts/UI/Model/ControllerSetup/ControllerSetupModel.js" />
			<add key="ControllerSetupModelProxy" value="~/Scripts/UI/Model/ControllerSetup/ControllerSetupModelProxy.js" />
			<add key="ControllerSetup" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetup.js" />
			<add key="ControllerSetupTabs" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetupTabs.js" />
			<!--ControllerSetupAdvance-->
			<add key="ControllerSetupAdvancePage" value="~/Scripts/UI/Pages/ControllerSetupAdvancePage/ControllerSetupAdvancePage.js" />
			<add key="ControllerSetupAdvanceModel" value="~/Scripts/UI/Model/ControllerSetupAdvance/ControllerSetupAdvanceModel.js" />
			<add key="ControllerSetupAdvanceModelProxy" value="~/Scripts/UI/Model/ControllerSetupAdvance/ControllerSetupAdvanceModelProxy.js" />
			<add key="ControllerSetupAdvance" value="~/Scripts/UI/Views/ControllerSetupAdvance/ControllerSetupAdvance.js" />
			<add key="ControllerSetupTabs" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetupTabs.js" />
			<!--ControllerSetupList-->
			<add key="ControllerSetupListPage" value="~/Scripts/UI/Pages/ControllerSetupListPage/ControllerSetupListPage.js" />
			<add key="ControllerSetupListModel" value="~/Scripts/UI/Model/ControllerSetupList/ControllerSetupListModel.js" />
			<add key="ControllerSetupListModelProxy" value="~/Scripts/UI/Model/ControllerSetupList/ControllerSetupListModelProxy.js" />
			<add key="ControllerSetupList" value="~/Scripts/UI/Views/ControllerSetupList/ControllerSetupList.js" />
			<add key="ControllerSetupListTabs" value="~/Scripts/UI/Views/ControllerSetupList/ControllerSetupListTabs.js" />
			<!--Contact-->
			<add key="ContactPage" value="~/Scripts/UI/Pages/ContactPage/ContactPage.js" />
			<add key="ContactModel" value="~/Scripts/UI/Model/Contact/ContactModel.js" />
			<add key="ContactModelProxy" value="~/Scripts/UI/Model/Contact/ContactModelProxy.js" />
			<add key="Contact" value="~/Scripts/UI/Views/Contact/Contact.js" />
			<!--Customer-->
			<add key="CustomerPage" value="~/Scripts/UI/Pages/CustomerPage/CustomerPage.js" />
			<add key="CustomerModel" value="~/Scripts/UI/Model/Customer/CustomerModel.js" />
			<add key="CustomerModelProxy" value="~/Scripts/UI/Model/Customer/CustomerModelProxy.js" />
			<add key="Customer" value="~/Scripts/UI/Views/Customer/Customer.js" />
			<!--Chemical-->
			<add key="ChemicalPage" value="~/Scripts/UI/Pages/ChemicalPage/ChemicalPage.js" />
			<add key="ChemicalModel" value="~/Scripts/UI/Model/Chemical/ChemicalModel.js" />
			<add key="ChemicalModelProxy" value="~/Scripts/UI/Model/Chemical/ChemicalModelProxy.js" />
			<add key="Chemical" value="~/Scripts/UI/Views/Chemical/Chemical.js" />
			<add key="SubstituteChemical" value="~/Scripts/UI/Views/Chemical/SubstituteChemical.js" />
			<!--Alarm-->
			<add key="AlarmModel" value="~/Scripts/UI/Model/Alarm/AlarmModel.js" />
			<add key="AlarmModelProxy" value="~/Scripts/UI/Model/Alarm/AlarmModelProxy.js" />
			<add key="Alarm" value="~/Scripts/UI/Views/Alarm/Alarm.js" />
			<add key="AlarmCount" value="~/Scripts/UI/Views/Alarm/AlarmCount.js" />
			<!--PlantUtilitySetup-->
			<add key="PlantUtilitySetupPage" value="~/Scripts/UI/Pages/PlantUtilitySetupPage/PlantUtilitySetupPage.js" />
			<add key="PlantUtilitySetupModel" value="~/Scripts/UI/Model/PlantUtilitySetup/PlantUtilitySetupModel.js" />
			<add key="PlantUtilitySetupModelProxy" value="~/Scripts/UI/Model/PlantUtilitySetup/PlantUtilitySetupModelProxy.js" />
			<add key="PlantUtilitySetup" value="~/Scripts/UI/Views/PlantUtilitySetup/PlantUtilitySetup.js" />
			<!--Dryer-->
			<add key="DryerPage" value="~/Scripts/UI/Pages/DryerPage/DryerPage.js" />
			<add key="DryerModel" value="~/Scripts/UI/Model/Dryer/DryerModel.js" />
			<add key="DryerModelProxy" value="~/Scripts/UI/Model/Dryer/DryerModelProxy.js" />
			<add key="Dryer" value="~/Scripts/UI/Views/Dryer/Dryer.js" />
			<add key="AddEditDryerGroup" value="~/Scripts/UI/Views/Dryer/AddEditDryerGroup.js" />
			<add key="AddEditDryer" value="~/Scripts/UI/Views/Dryer/AddEditDryer.js" />
			<!--Finnisher-->
			<add key="FinnisherPage" value="~/Scripts/UI/Pages/FinnisherPage/FinnisherPage.js" />
			<add key="FinnisherModel" value="~/Scripts/UI/Model/Finnisher/FinnisherModel.js" />
			<add key="FinnisherModelProxy" value="~/Scripts/UI/Model/Finnisher/FinnisherModelProxy.js" />
			<add key="Finnisher" value="~/Scripts/UI/Views/Finnisher/Finnisher.js" />
			<add key="AddEditFinnisherGroup" value="~/Scripts/UI/Views/Finnisher/AddEditFinnisherGroup.js" />
			<add key="AddEditFinnisher" value="~/Scripts/UI/Views/Finnisher/AddEditFinnisher.js" />
			<!--LaborCost-->
			<add key="LaborCostPage" value="~/Scripts/UI/Pages/LaborCostPage/LaborCostPage.js" />
			<add key="LaborCostModel" value="~/Scripts/UI/Model/LaborCost/LaborCostModel.js" />
			<add key="LaborCostModelProxy" value="~/Scripts/UI/Model/LaborCost/LaborCostModelProxy.js" />
			<add key="LaborCost" value="~/Scripts/UI/Views/LaborCost/LaborCost.js" />
			<!--Formula-->
			<add key="FormulaPage" value="~/Scripts/UI/Pages/FormulaPage/FormulaPage.js" />
			<add key="FormulaModel" value="~/Scripts/UI/Model/Formula/FormulaModel.js" />
			<add key="FormulaModelProxy" value="~/Scripts/UI/Model/Formula/FormulaModelProxy.js" />
			<add key="Formula" value="~/Scripts/UI/Views/Formula/FormulaList.js" />
			<add key="FormulaEdit" value="~/Scripts/UI/Views/Formula/FormulaEdit.js" />
			<!--RedFlag-->
			<add key="RedFlagPage" value="~/Scripts/UI/Pages/RedFlagPage/RedFlagPage.js" />
			<add key="RedFlagModel" value="~/Scripts/UI/Model/RedFlag/RedFlagModel.js" />
			<add key="RedFlagModelProxy" value="~/Scripts/UI/Model/RedFlag/RedFlagModelProxy.js" />
			<add key="RedFlag" value="~/Scripts/UI/Views/RedFlag/RedFlag.js" />
			<!--Utility-->
			<add key="UtilityPage" value="~/Scripts/UI/Pages/UtilityPage/UtilityPage.js" />
			<add key="UtilityModel" value="~/Scripts/UI/Model/Utility/UtilityModel.js" />
			<add key="UtilityModelProxy" value="~/Scripts/UI/Model/Utility/UtilityModelProxy.js" />
			<add key="Utility" value="~/Scripts/UI/Views/Utility/Utility.js" />
			<!--ShiftLabor-->
			<add key="ShiftLaborPage" value="~/Scripts/UI/Pages/ShiftLaborPage/ShiftLaborPage.js" />
			<add key="ShiftLaborModel" value="~/Scripts/UI/Model/ShiftLabor/ShiftLaborModel.js" />
			<add key="ShiftLaborModelProxy" value="~/Scripts/UI/Model/ShiftLabor/ShiftLaborModelProxy.js" />
			<add key="ShiftLabor" value="~/Scripts/UI/Views/ShiftLabor/ShiftLabor.js" />
			<add key="AddEditShift" value="~/Scripts/UI/Views/ShiftLabor/AddEditShift.js" />
			<add key="AddEditLabor" value="~/Scripts/UI/Views/ShiftLabor/AddEditLabor.js" />
			<!-- Washer Group -->
			<add key="WasherGroupPage" value="~/Scripts/UI/Pages/WasherGroupPage/WasherGroupPage.js" />
			<add key="WasherGroupModel" value="~/Scripts/UI/Model/WasherGroup/WasherGroupModel.js" />
			<add key="WasherGroupModelProxy" value="~/Scripts/UI/Model/WasherGroup/WasherGroupModelProxy.js" />
			<add key="WasherGroup" value="~/Scripts/UI/Views/WasherGroup/WasherGroup.js" />
			<add key="WasherGroupTabs" value="~/Scripts/UI/Views/WasherGroup/WasherGroupTabs.js" />
			<!-- Washer Group Formula -->
			<add key="WasherGroupFormulaPage" value="~/Scripts/UI/Pages/WasherGroupFormulaPage/WasherGroupFormulaPage.js" />
			<add key="WasherGroupFormulaModel" value="~/Scripts/UI/Model/WasherGroupFormula/WasherGroupFormulaModel.js" />
			<add key="WasherGroupFormulaModelProxy" value="~/Scripts/UI/Model/WasherGroupFormula/WasherGroupFormulaModelProxy.js" />
			<add key="AddWasherGroup" value="~/Scripts/UI/Views/WasherGroupFormula/AddWasherGroup.js" />
			<add key="WasherGroupFormulaTabs" value="~/Scripts/UI/Views/WasherGroupFormula/WasherGroupFormulaTabs.js" />
			<add key="WasherGroupFormulasList" value="~/Scripts/UI/Views/WasherGroupFormula/WasherGroupFormulasList.js" />
			<add key="AddFormula" value="~/Scripts/UI/Views/WasherGroupFormula/AddFormula.js" />
			<add key="AddWashStep" value="~/Scripts/UI/Views/WasherGroupFormula/AddWashStep.js" />
			<add key="TunnelWashStep" value="~/Scripts/UI/Views/WasherGroupFormula/TunnelWashStep.js" />
			<add key="TunnelWashStepGridView" value="~/Scripts/UI/Views/WasherGroupFormula/TunnelWashStepGridView.js" />
			<add key="ProductsList" value="~/Scripts/UI/Views/WasherGroupFormula/ProductsList.js" />
			<add key="ConventionalProducts" value="~/Scripts/UI/Views/WasherGroupFormula/ConventionalProducts.js" />
			<add key="ConventionalProductGridView" value="~/Scripts/UI/Views/WasherGroupFormula/ConventionalProductGridView.js" />
			<add key="ImportFormula" value="~/Scripts/UI/Views/WasherGroupFormula/ImportFormula.js" />
			<add key="SubstituteMissingChemical" value="~/Scripts/UI/Views/WasherGroupFormula/SubstituteMissingChemical.js" />
			<add key="ConventionalAnalougeControlForEurope" value="~/Scripts/UI/Views/WasherGroupFormula/ConventionalAnalougeControlForEurope.js" />
			<!--NavigationMenu-->
			<add key="NavigationMenuModel" value="~/Scripts/UI/Model/NavigationMenu/NavigationMenuModel.js" />
			<add key="NavigationMenuModelProxy" value="~/Scripts/UI/Model/NavigationMenu/NavigationMenuModelProxy.js" />
			<add key="NavigationMenu" value="~/Scripts/UI/Views/NavigationMenu/NavigationMenu.js" />
			<!--leftNav menu-->
			<add key="leftNavMenucss" value="~/Content/leftNavMenu.css" />
			<!--Pumps-->
			<add key="PumpsPage" value="~/Scripts/UI/Pages/PumpsPage/PumpsPage.js" />
			<add key="PumpsModel" value="~/Scripts/UI/Model/Pumps/PumpsModel.js" />
			<add key="PumpsModelProxy" value="~/Scripts/UI/Model/Pumps/PumpsModelProxy.js" />
			<add key="Pumps" value="~/Scripts/UI/Views/Pumps/Pumps.js" />
			<add key="PumpsEdit" value="~/Scripts/UI/Views/Pumps/PumpsEdit.js" />
			<add key="ControllerSetup" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetup.js" />
			<add key="ControllerSetupTabs" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetupTabs.js" />
			<!--PumpsProducts-->
			<add key="PumpsProductsPage" value="~/Scripts/UI/Pages/PumpsPage/PumpsProductsPage/PumpsProductsPage.js" />
			<add key="PumpsProductsModel" value="~/Scripts/UI/Model/Pumps/PumpsProducts/PumpsProductsModel.js" />
			<add key="PumpsProductsModelProxy" value="~/Scripts/UI/Model/Pumps/PumpsProducts/PumpsProductsModelProxy.js" />
			<add key="PumpsProducts" value="~/Scripts/UI/Views/Pumps/PumpsProducts/PumpsProducts.js" />
			<add key="ControllerSetup" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetup.js" />
			<add key="ControllerSetupTabs" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetupTabs.js" />
			<!--MixingVessels-->
			<add key="MixingVesselsPage" value="~/Scripts/UI/Pages/PumpsPage/MixingVesselsPage/MixingVesselsPage.js" />
			<add key="MixingVesselsModel" value="~/Scripts/UI/Model/Pumps/MixingVessels/MixingVesselsModel.js" />
			<add key="MixingVesselsModelProxy" value="~/Scripts/UI/Model/Pumps/MixingVessels/MixingVesselsModelProxy.js" />
			<add key="MixingVessels" value="~/Scripts/UI/Views/Pumps/MixingVessels/MixingVessels.js" />
			<add key="ControllerSetup" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetup.js" />
			<add key="ControllerSetupTabs" value="~/Scripts/UI/Views/ControllerSetup/ControllerSetupTabs.js" />
			<!--NavigationMenu-->
			<add key="NavigationMenuModel" value="~/Scripts/UI/Model/NavigationMenu/NavigationMenuModel.js" />
			<add key="NavigationMenuModelProxy" value="~/Scripts/UI/Model/NavigationMenu/NavigationMenuModelProxy.js" />
			<add key="NavigationMenu" value="~/Scripts/UI/Views/NavigationMenu/NavigationMenu.js" />
			<!--Meter-->
			<add key="MeterPage" value="~/Scripts/UI/Pages/MeterPage/MeterPage.js" />
			<add key="MeterModel" value="~/Scripts/UI/Model/Meter/MeterModel.js" />
			<add key="MeterModelProxy" value="~/Scripts/UI/Model/Meter/MeterModelProxy.js" />
			<add key="Meter" value="~/Scripts/UI/Views/Meter/Meter.js" />
			<!--Conventional General-->
			<add key="ConventionalGeneralPage" value="~/Scripts/UI/Pages/WashersPage/Conventional/ConventionalGeneralPage.js" />
			<add key="ConventionalGeneralModel" value="~/Scripts/UI/Model/Washers/Conventional/ConventionalGeneralModel.js" />
			<add key="ConventionalGeneralModelProxy" value="~/Scripts/UI/Model/Washers/Conventional/ConventionalGeneralModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="ConventionalGeneral" value="~/Scripts/UI/Views/Washers/Conventional/ConventionalGeneral.js" />
			<!--FlushTimesAndSetupTom-->
			<add key="FlushTimesAndSetupTomPage" value="~/Scripts/UI/Pages/WashersPage/FlushTimesAndSetupTomPage.js" />
			<add key="FlushTimesAndSetupTomModel" value="~/Scripts/UI/Model/Washers/FlushTimesAndSetupTomModel.js" />
			<add key="FlushTimesAndSetupTomModelProxy" value="~/Scripts/UI/Model/Washers/FlushTimesAndSetupTomModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="FlushTimesAndSetupTom" value="~/Scripts/UI/Views/Washers/FlushTimesAndSetupTom.js" />
			<!-- Washers -->
			<add key="WasherPage" value="~/Scripts/UI/Pages/WashersPage/WasherPage.js" />
			<add key="WasherModel" value="~/Scripts/UI/Model/Washers/WasherModel.js" />
			<add key="WasherModelProxy" value="~/Scripts/UI/Model/Washers/WasherModelProxy.js" />
			<add key="WasherList" value="~/Scripts/UI/Views/Washers/WasherList.js" />
			<!--Tunnel General-->
			<add key="TunnelGeneralPage" value="~/Scripts/UI/Pages/WashersPage/TunnelPage/TunnelGeneralPage.js" />
			<add key="TunnelGeneralModel" value="~/Scripts/UI/Model/Washers/Tunnel/TunnelGeneralModel.js" />
			<add key="TunnelGeneralModelProxy" value="~/Scripts/UI/Model/Washers/Tunnel/TunnelGeneralModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="TunnelGeneral" value="~/Scripts/UI/Views/Washers/Tunnel/TunnelGeneral.js" />
			<!--Tunnel Connections-->
			<add key="TunnelConnectionsPage" value="~/Scripts/UI/Pages/WashersPage/TunnelPage/TunnelConnectionsPage.js" />
			<add key="TunnelConnectionsModel" value="~/Scripts/UI/Model/Washers/Tunnel/TunnelConnectionsModel.js" />
			<add key="TunnelConnectionsModelProxy" value="~/Scripts/UI/Model/Washers/Tunnel/TunnelConnectionsModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="TunnelConnections" value="~/Scripts/UI/Views/Washers/Tunnel/TunnelConnections.js" />
			<add key="MovePump" value="~/Scripts/UI/Views/Washers/Tunnel/MovePump.js" />
			<!--Tunnel Compartment-->
			<add key="TunnelCompartmentPage" value="~/Scripts/UI/Pages/WashersPage/TunnelPage/TunnelCompartmentPage.js" />
			<add key="TunnelCompartmentModel" value="~/Scripts/UI/Model/Washers/Tunnel/TunnelCompartmentModel.js" />
			<add key="TunnelCompartmentModelProxy" value="~/Scripts/UI/Model/Washers/Tunnel/TunnelCompartmentModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="TunnelCompartment" value="~/Scripts/UI/Views/Washers/Tunnel/TunnelCompartment.js" />
			<!--FlushTimesAndSetupTom-->
			<add key="FlushTimesAndSetupTomPage" value="~/Scripts/UI/Pages/WashersPage/FlushTimesAndSetupTomPage.js" />
			<add key="FlushTimesAndSetupTomModel" value="~/Scripts/UI/Model/Washers/FlushTimesAndSetupTomModel.js" />
			<add key="FlushTimesAndSetupTomModelProxy" value="~/Scripts/UI/Model/Washers/FlushTimesAndSetupTomModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="FlushTimesAndSetupTom" value="~/Scripts/UI/Views/Washers/FlushTimesAndSetupTom.js" />
			<!--StorageTanks-->
			<add key="StorageTanksPage" value="~/Scripts/UI/Pages/StorageTanksPage/StorageTanksPage.js" />
			<add key="StorageTanksModel" value="~/Scripts/UI/Model/StorageTanks/StorageTanksModel.js" />
			<add key="StorageTanksModelProxy" value="~/Scripts/UI/Model/StorageTanks/StorageTanksModelProxy.js" />
			<add key="StorageTanks" value="~/Scripts/UI/Views/StorageTanks/StorageTanks.js" />
			<add key="AddEditStorageTanks" value="~/Scripts/UI/Views/StorageTanks/AddEditStorageTanks.js" />
			<!--Sensor-->
			<add key="SensorPage" value="~/Scripts/UI/Pages/SensorPage/SensorPage.js" />
			<add key="SensorModel" value="~/Scripts/UI/Model/Sensor/SensorModel.js" />
			<add key="SensorModelProxy" value="~/Scripts/UI/Model/Sensor/SensorModelProxy.js" />
			<add key="Sensor" value="~/Scripts/UI/Views/Sensor/Sensor.js" />
			<!-- HoldCondition -->
			<add key="HoldConditionPage" value="~/Scripts/UI/Pages/WashersPage/HoldConditionPage.js" />
			<add key="HoldConditionModel" value="~/Scripts/UI/Model/Washers/HoldConditionModel.js" />
			<add key="HoldConditionModelProxy" value="~/Scripts/UI/Model/Washers/HoldConditionModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="HoldConditions" value="~/Scripts/UI/Views/Washers/HoldConditions.js" />
			<!--UserManagement-->
			<add key="UserManagementPage" value="~/Scripts/UI/Pages/UserManagementPage/UserManagementPage.js" />
			<add key="UserManagementModel" value="~/Scripts/UI/Model/UserManagement/UserManagementModel.js" />
			<add key="UserManagementModelProxy" value="~/Scripts/UI/Model/UserManagement/UserManagementModelProxy.js" />
			<add key="UserManagement" value="~/Scripts/UI/Views/UserManagement/UserManagement.js" />
			<add key="AddEditUserManagement" value="~/Scripts/UI/Views/UserManagement/AddEditUserManagement.js" />
			<!--TargetProduction-->
			<add key="TargetProduction" value="~/Scripts/UI/Views/TargetProduction/TargetProduction.js" />
			<add key="TargetProductionPage" value="~/Scripts/UI/Pages/TargetProductionPage/TargetProductionPage.js" />
			<add key="TargetProductionModel" value="~/Scripts/UI/Model/TargetProduction/TargetProductionModel.js" />
			<add key="TargetProductionModelProxy" value="~/Scripts/UI/Model/TargetProduction/TargetProductionModelProxy.js" />
			<!--Product Deviation-->
			<add key="ProductDeviationPage" value="~/Scripts/UI/Pages/WashersPage/ProductDeviationPage.js" />
			<add key="ProductDeviationModel" value="~/Scripts/UI/Model/Washers/ProductDeviationModel.js" />
			<add key="ProductDeviationModelProxy" value="~/Scripts/UI/Model/Washers/ProductDeviationModelProxy.js" />
			<add key="ProductDeviation" value="~/Scripts/UI/Views/Washers/ProductDeviation.js" />
			<!--Analogue Dosing-->
			<add key="AnalogueDosingPage" value="~/Scripts/UI/Pages/WashersPage/TunnelPage/AnalogueDosingPage.js" />
			<add key="AnalogueDosingModel" value="~/Scripts/UI/Model/Washers/Tunnel/AnalogueDosingModel.js" />
			<add key="AnalogueDosingModelProxy" value="~/Scripts/UI/Model/Washers/Tunnel/AnalogueDosingModelProxy.js" />
			<add key="WasherTabs" value="~/Scripts/UI/Views/Washers/WasherTabs.js" />
			<add key="AnalogueDosing" value="~/Scripts/UI/Views/Washers/Tunnel/AnalogueDosing.js" />

			<!--Help Pages-->
			<add key="HelpPage" value="~/Scripts/UI/Pages/Help/HelpPage.js" />
			<add key="HelpModel" value="~/Scripts/UI/Model/Help/HelpModel.js" />
			<add key="HelpNavigation" value="~/Scripts/UI/Views/Help/HelpNavigation.js" />
			<add key="HelpTemplate" value="~/Scripts/UI/Views/Help/HelpTemplate.js" />

			<!--online help-->
			<add key="OnlineHelpcss" value="~/Content/OnlineHelp.css" />
		</Files>
		<Sets>
			<add key="CoreCss" value="kendo.common,kendo.default,kendo.mobileall,bootstrapcss,slidercss,customcss,custommediaqueriescss,jquery.ui.autocomplete,kendo.bootstrapcss,kendo.dataviz.bootstrap,bootstrap-timepickercss,bootstrap-multiselectcss" />
			<add key="VisualizationCss" value="visualizationcss" />
			<add key="CoreScripts" value="NameSpaces,modernizr,jquery,jqueryrest,Json2,date,jquery.validate,jquery.blockUI,bootstrap,trimpathTemplate,templateManager,confirmDialog,Utils,BaseModel,ModelCommon,MainHeader,MainHeaderPage,BasePresenter,Factory,Localization,jqueryextensions,BreadCrumb,jquery-ui,bootstrap-timepicker,jquery-tablesorter,multiselect-swap,bootstrap-multiselect,mask,jquery.unobtrusive-ajax" />
			<add key="LeftNavMenuCss" value="leftNavMenuCss" />
			<add key="PlantSetup_JS" value="PlantSetupPage,PlantSetupModel,PlantSetupModelProxy,PlantSetup,PlantSetupTabs" />
			<add key="ControllerSetup_JS" value="ControllerSetupPage,ControllerSetupModel,ControllerSetupModelProxy,ControllerSetup,ControllerSetupTabs" />
			<add key="ControllerSetupAdvance_JS" value="ControllerSetupAdvancePage,ControllerSetupAdvanceModel,ControllerSetupAdvanceModelProxy,ControllerSetupAdvance,ControllerSetupTabs" />
			<add key="ControllerSetupList_JS" value="ControllerSetupListPage,ControllerSetupListModel,ControllerSetupListModelProxy,ControllerSetupList,ControllerSetupListTabs" />
			<add key="Contact_JS" value="ContactPage,ContactModel,ContactModelProxy,Contact,PlantSetupTabs,bootstrap-tooltip" />
			<add key="Customer_JS" value="CustomerPage,CustomerModel,CustomerModelProxy,Customer,PlantSetupTabs,bootstrap-tooltip" />
			<add key="Chemical_JS" value="ChemicalPage,ChemicalModel,ChemicalModelProxy,Chemical,PlantSetupTabs,SubstituteChemical,bootstrap-tooltip" />
			<add key="Alarm_JS" value="AlarmModel,AlarmModelProxy,Alarm,AlarmCount" />
			<add key="PlantUtilitySetup_JS" value="PlantUtilitySetupPage,PlantUtilitySetupModel,PlantUtilitySetupModelProxy,PlantUtilitySetup,PlantSetupTabs" />
			<add key="Dryer_JS" value="DryerPage,DryerModel,DryerModelProxy,Dryer,PlantSetupTabs,AddEditDryerGroup,AddEditDryer" />
			<add key="Finnisher_JS" value="FinnisherPage,FinnisherModel,FinnisherModelProxy,Finnisher,PlantSetupTabs,AddEditFinnisherGroup,AddEditFinnisher" />
			<add key="LaborCost_JS" value="LaborCostPage,LaborCostModel,LaborCostModelProxy,LaborCost,PlantSetupTabs" />
			<add key="Formula_JS" value="FormulaPage,FormulaModel,FormulaModelProxy,Formula,FormulaEdit,PlantSetupTabs,bootstrap-tooltip" />
			<add key="RedFlag_JS" value="RedFlagPage,RedFlagModel,RedFlagModelProxy,RedFlag,PlantSetupTabs,bootstrap-tooltip" />
			<add key="Utility_JS" value="UtilityPage,UtilityModel,UtilityModelProxy,Utility,PlantSetupTabs,bootstrap-tooltip" />
			<add key="ShiftLabor_JS" value="ShiftLaborPage,ShiftLaborModel,ShiftLaborModelProxy,ShiftLabor,PlantSetupTabs,AddEditShift,AddEditLabor" />
			<add key="WasherGroup_JS" value="WasherGroupPage,WasherGroupModel,WasherGroupModelProxy,WasherGroup,WasherGroupTabs" />
			<add key="WasherGroupFormula_JS" value="WasherGroupFormulaPage,WasherGroupFormulaModel,WasherGroupFormulaModelProxy,AddWasherGroup,WasherGroupFormulaTabs,WasherGroupFormulasList,AddFormula,AddWashStep,TunnelWashStep,TunnelWashStepGridView,ProductsList,ConventionalProducts,ConventionalProductGridView,ImportFormula,SubstituteMissingChemical,ConventionalAnalougeControlForEurope,bootstrap-tooltip" />
			<add key="NavigationMenu_JS" value="NavigationMenuModel,NavigationMenuModelProxy,NavigationMenu,WasherGroupFormulaPage,WasherGroupFormulaModel,WasherGroupFormulaModelProxy,WasherGroupModel,WasherGroupModelProxy,StorageTanksPage,WasherGroupFormulaPage,StorageTanksModel,StorageTanksModelProxy" />
			<add key="Pumps_JS" value="PumpsPage,PumpsModel,PumpsModelProxy,Pumps,PumpsEdit,ControllerSetup,ControllerSetupTabs" />
			<add key="PumpsProducts_JS" value="PumpsProductsPage,PumpsProductsModel,PumpsProductsModelProxy,PumpsProducts,ControllerSetup,ControllerSetupTabs" />
			<add key="MixingVessels_JS" value="MixingVesselsPage,MixingVesselsModel,MixingVesselsModelProxy,MixingVessels,ControllerSetup,ControllerSetupTabs" />
			<add key="Meter_JS" value="MeterPage,MeterModel,MeterModelProxy,Meter,PlantSetupTabs,bootstrap-tooltip" />
			<add key="Washers_JS" value="WasherPage,WasherModel,WasherModelProxy,WasherList" />
			<add key="ConventionalGeneral_JS" value="ConventionalGeneralPage,ConventionalGeneralModel,ConventionalGeneralModelProxy,WasherTabs,ConventionalGeneral" />
			<add key="TunnelGeneral_JS" value="TunnelGeneralPage,TunnelGeneralModel,TunnelGeneralModelProxy,WasherTabs,TunnelGeneral" />
			<add key="TunnelCompartment_JS" value="TunnelCompartmentPage,TunnelCompartmentModel,TunnelCompartmentModelProxy,WasherTabs,TunnelCompartment" />
			<add key="TunnelConnections_JS" value="TunnelConnectionsPage,TunnelConnectionsModel,TunnelConnectionsModelProxy,WasherTabs,TunnelConnections" />
			<add key="FlushTimesAndSetupTom_JS" value="FlushTimesAndSetupTomPage,FlushTimesAndSetupTomModel,FlushTimesAndSetupTomModelProxy,WasherTabs,FlushTimesAndSetupTom" />
			<add key="TunnelCompartment_JS" value="TunnelCompartmentPage,TunnelCompartmentModel,TunnelCompartmentModelProxy,WasherTabs,TunnelCompartment,MovePump" />
			<add key="StorageTanks_JS" value="StorageTanksPage,StorageTanksModel,StorageTanksModelProxy,StorageTanks,AddEditStorageTanks" />
			<add key="Sensor_JS" value="SensorPage,SensorModel,SensorModelProxy,Sensor,PlantSetupTabs,bootstrap-tooltip" />
			<add key="HoldCondition_JS" value="HoldConditionPage,HoldConditionModel,HoldConditionModelProxy,WasherTabs,HoldConditions" />
			<add key="UserManagement_JS" value="UserManagementPage,UserManagementModel,UserManagementModelProxy,UserManagement,PlantSetupTabs,AddEditUserManagement,bootstrap-tooltip" />
			<add key="TargetProduction_JS" value="TargetProductionPage,TargetProductionModel,TargetProductionModelProxy,TargetProduction,PlantSetupTabs" />
			<add key="ProductDeviation_JS" value="ProductDeviationPage,ProductDeviationModel,ProductDeviationModelProxy,WasherTabs,ProductDeviation" />
			<add key="AnalogueDosing_JS" value="AnalogueDosingPage,AnalogueDosingModel,AnalogueDosingModelProxy,WasherTabs,AnalogueDosing" />
			<add key="HelpPage_JS" value="HelpPage,HelpModel,HelpNavigation,HelpTemplate" />
			<add key="OnlineHelpCss" value="OnlineHelpcss" />
		</Sets>
	</ScriptCombiner>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Nalco.Core" publicKeyToken="a648783b25c501ea" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.643" newVersion="1.1.0.643" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<elmah>
		<security allowRemoteAccess="yes" />
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-express" applicationName="http://Central/" logPath="~/App_Data" />
		<errorMail from="agsmailer@allianceglobalservices.com" to="AGS-EcoLab-TCD-Leads@allianceglobalservices.com" subject="Error in Central Web" async="true" useSsl="true" />
		<errorFilter>
			<test>
				<equal binding="HttpStatusCode" value="404" type="Int32" />
			</test>
		</errorFilter>
	</elmah>
</configuration>